*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration:none ;
}


body {
    background-color: #050e2d;
    background-image: url(../image/body-bg.jpg);
    background-repeat:repeat;
    line-height: 1.6;
    overflow-x: hidden;
}
header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 7px 80px;
display: flex;
justify-content: space-between;
align-items: center;
background:#1b2141 ;
transition: 0.5s;
z-index: 1000;
}
header .logo{
    font: 2rem mistral;
    cursor: pointer;
    filter: drop-shadow(7px 7px 3px rgb(33,33,33));
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo_style {
    font: 2rem mistral;
    border-right: 2px solid rgb(249,116,6);
    border-left: 2px solid rgb(249,116,6);
    border-radius: 1rem 0.2rem 1rem 0.1rem;
    padding: 0.2rem;
    filter: drop-shadow(7px 7px 3px rgb(33,33,33));
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
list-style: none;
margin: 10px;
transition: .3s;
opacity: 0.8;

}
header ul li a{
color: #fff;
text-decoration: none;
padding: 10px 20px;
}
header ul li:hover{
    transform: scale(1.1);
	opacity: 1;
}
.fa-bars{
    display: none !important;
}   
    


                  button {
                    background: #1aeeef;
                 border-color: #1aeeef;
                cursor: pointer;
                border-radius: 5px;
                 width: 8rem;
                 height: 2rem;
                 box-shadow: 0 0 10px #1aeeef;
                 color: black;
                    }
                  
/*container header*/
.hero {
    padding-block-start: 102px;
    text-align: center;
}

.has-before, .has-after {
    position: relative;
    z-index: 1;
}

p{
    font: 2rem mistral;
    color: rgb(255, 255, 255);
    letter-spacing: 1px
}

.h1 {
    line-height: 1;
}

.hero-title {
    margin-block: 20px 25px;
}
.h1 {
    font: 4em mistral;
    color: rgb(255, 255, 255);
    letter-spacing: 1px
}


img {
    height: auto;
}
/*news*/
.games{
padding:16px 0px;
width:100% ;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 40px auto;
}

/*Sypnopsis*/

.titre{
  
    padding: 0.5rem 3rem;
    color: #FFF;
    box-shadow: 0 0 10px #1aeeef
}
h3 {
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.5rem 0 0.5rem 2.5%;
    padding:0.5rem  0 ;
}
.news-latest article{
    width: 95%;
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 250px;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}
article .item-img img {
    width: 100%;
    height: 100%;
}
.item-img {
    display: flex;
    justify-content: flex-end;
}
.item-img span{
    color: #e60012;
    position: absolute;
    margin-top: 208.5px;
    padding: 0.5rem;
    
}

.item-img span i {
  margin-right: 5px;
}

.item-img span::before {
  content: "★★★★★";
  letter-spacing: 3px;
  font-size: 20px;
}


.item-text {
    padding: 2rem 0rem;
}
.h1 {
    font: 1.4rem sans-serif;
}
.category {
    background-color: #e60012;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    font-size: 1.1rem;  
    transition: 0.5s;
}
.category:hover {
    background-color: #cb0212;
}
.text {
    margin: 1rem 0rem ;
    font: 1.1rem sans-serif;
}
.date {
    color: #FFF;
    opacity: 0.5;
    font-size: 1.2rem;
}
/*news popular*/
.popular-list {
    width: 95%;
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1.5rem;
}
.popular-list article {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 200px;
    margin-bottom: 3rem;
    grid-gap: 5%;
}
.category_action{
    background-color: #2809ec;
    box-shadow: 0 0 10px;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    font-size: 1.1rem;  
    transition: 0.5s;
}

.Horreur{
    font: 2rem mistral;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px red;
    margin: 0.5rem 0 0.5rem 2.5%;
    padding:0.5rem  0 ;


}
.Action_shadow{
    font: 2rem mistral;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgb(25, 0, 255);
    margin: 0.5rem 0 0.5rem 2.5%;
    padding:0.5rem  0 ;
}
.category_horror{
    background-color: rgba(255, 55, 24, 0.948);
    box-shadow: 0 0 10px;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    font-size: 1.1rem;  
    transition: 0.5s;
    
}
.Multiplayer{
    font: 2rem mistral;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(6, 192, 21, 0.87);
    margin: 0.5rem 0 0.5rem 2.5%;
    padding:0.5rem  0 ;
}
.category_multi{
    background-color: rgba(6, 192, 21, 0.734);
    box-shadow: 0 0 10px;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    font-size: 1.1rem;  
    transition: 0.5s;
    
}
/*videos section*/

.title-video{
    box-shadow: 0 0 10px #1aeeef;
    padding: 0.5rem 3rem;
    color: #FFF;
}
.container-video {
    margin: 2rem 0 1rem 2.5% ;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
}
.container-video article {
    border-bottom: 3px solid #5fad05;
}
video {
    width: 100%;
    border-radius: 0.5rem;
}
.container-video .category {
    background-color: #5fad05;
    transition: 0.5s;
}
.container-video .category:hover {
    background-color: #1aeeef;
}

/*Avis*/
form {
   
    padding: 10px; /* réduire le padding */
   
    box-shadow: 0 0 10px #1aeeef;
    
    margin: 0 auto; /* centrer le formulaire horizontalement */
}

.title_top {
    font-size: 21px; /* réduire la taille du titre */
    margin-bottom: 10px; /* réduire la marge inférieure du titre */
    color: #fff;
}

.submit_coms {
    font-size: 14px; /* réduire la taille de la police des boutons */
    padding: 5px 10px; /* réduire le rembourrage des boutons */
}

textarea {
    height: 80px; /* réduire la hauteur du champ de texte */
    font-size: 16px; /* augmenter la taille de la police du champ de texte */
    margin-bottom: 10px; /* réduire la marge inférieure du champ de texte */
}

.espace_chiffre {
    margin-right: 15px; /* réduire l'espacement entre les icônes de vote */
}

.fa-thumbs-up, .fa-thumbs-down {
    font-size: 40px; /* réduire la taille de l'icône de vote */
    color: #1aeeef;
    
}

.nombre_de_vote {
   
    display: flex;
    justify-content: space-around;
}
.like:hover {
	opacity: 1;
	transform: rotate(-10deg) scale(1.1);
}
.dislike:hover {
	opacity: 1;
	transform: rotate(10deg) scale(1.1);
}
/*footer*/
.footer {
    background-color: #1b2141;
    width: 100%;
    height: auto;
    position: absolute;
    color: #FFF;
}
.footer-links-1 ul, .footer-links-2 ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
}
.footer-links-1 {
    margin: 1.5rem 0;
}
.footer-links-1 h2{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.footer-links-1 ul li{
    margin: 1rem;
}
.footer-links-1 ul li a{
    font-size: 2.4rem;
    color: #FFF;
    opacity: 0.75;
}
.footer-links-2{
    margin-bottom: 2rem;
}
.footer-links-2 ul li a{
    color: #FFF;
    opacity: 0.75;
}
.footer-links-2 ul li{
    padding: 0 1rem;
    margin: 1rem 0;
    border-right: 1px solid #fff;
}
.footer a:hover {
    opacity: 1;
}
.footer a{
    transition: 0.5s;
}
.social {
    margin-top: 1rem;
    color: white;
    margin-left: 0.5rem;
    font-size: 1.5rem !important;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}
.social:hover {
    opacity: 1;
    transform: scale(1.08);
}
.copyright {
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.5s;
}
.copyright:hover {
    opacity: 1;
}
.footer span span {
    padding: 0.3rem;
}

@media(max-width: 992px){
    /*header*/
    button {
        border-radius: 5px;
        width: 5rem;
        height: 1.7rem;
}   
    
@media (max-width: 768px){
    /*header*/
    header{
    position: fixed;
    padding: 7px 15px;
}
    .nav {
        transform: translateX(50vw);
        top: 0;
        background-color: rgba(30,30,30);
        width: 50vw;
        height: 100vh;
        margin-left: 50vw;
        position: absolute;
        flex-direction: column;
    }
    .nav li {
        font-size: 1.5rem;
    }
    .fa-bars{
        display: block !important;
        color: white;
        cursor: pointer;
        font-size: 1.7rem !important;
        opacity: 0.8;
        transition: 0.5s;
    }
    .fa-bars:hover {
        opacity: 1;
    }
    button {
        border-radius: 5px;
        width: 5rem;
        height: 1.7rem;
}   
    .versForm {
        margin-left: 25%;
    }
    /*news latest*/
    .news-latest article{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-rows: 250px 200px;
    margin-bottom: 3rem;
}
    /*popular news*/
    .popular-list {
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: 1fr;
}
    .popular-list article {
    grid-gap: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
    margin-bottom: 3rem;
}
    
    /*footer*/
    .footer-links-1 {
        margin: 1.5rem 0;
}
    .footer-links-1 ul li{
        margin: 0.75rem;
}
    .footer-links-1 ul li a{
        font-size: 1.5rem;
}
    .footer-links-2{
        margin-bottom: 2rem;
}
    .footer-links-2 ul li{
        padding: 0 0.5rem;
        margin: 0.5rem 0;
}
    .footer-links-2 ul li a {
        font-size: 0.75rem;
    }
    .copyright {
    margin-top: 0.75rem;
    width: 100%;
    height: 1rem;
    font-size: 0.6rem;
    opacity: 0.7;
}
}